.home-wrap {
    .home-header {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        justify-content: space-between;
        background-color: $theme-color;
        span {
            line-height: 40px;
            color: #f1f1f1;
            i {
                &.iconfont {
                    font-size: 25px;
                }
            }
        }
    }
    .home-tab {
        height: 45px;
        justify-content: space-around;
        align-items: center;
        display: flex;
        background-color: $theme-color;
        a {
            color: #fff;
            font-weight: 700;
            font-size: 14px;
            padding: 5px 0;
            &.nav-active {
                border-bottom: 2px solid #fff;
            }
        }
    }
}
