@keyframes loading {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}
.loading-wrapper {
    .loading-animation {
        position: fixed;
        z-index: 99;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 60px;
        height: 60px;
        opacity: 0.6;
        border-radius: 50%;
        background-color: $theme-color;
        animation: loading 1s infinite ease-in;
        &:nth-last-of-type(1) {
            animation-delay: 0.5s;
        }
    }
}
